{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="title">
    <h3>Cross Modal Compression</h3>
    <!-- <p>
      <small>A web app demo</small>
    </p> -->
  </div>
  <div class='panel'>
    <select id='datasetSel' onchange="changeDataset();">
    <option value='cmc_bird' selected>CUB</option>
    <option value='cmc_coco'>COCO</option>
  </select></div>
  

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg"/>
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop image here or click to select</div>
      <img id="image-preview" class="hidden" />
    </label>
  </div>
  <div style="margin-bottom: 2rem;">
    <input type="button" value="Submit" class="button" onclick="submitImage_CMC();" />
    <input type="button" value="Clear" class="button" onclick="clearImage();" />
  </div>

<div id='image-box'>
  <div id="image-box-half">
    <img id="image-display" />
    <div id="pred-result" class="hidden"></div>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
    <div style="margin-bottom: 2rem;">
        <input type="button" value="RAW" class="button" />
      </div>
  </div>

  <div id="image-box-half">
    <img id="rec-image-display" />
    <div id="rec-result"></div>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg> 
      <div style="margin-bottom: 2rem;">
        <input type="button" value="REC" class="button" />
      </div>
  </div>
</div>
</div>

{% endblock %}