<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>智能编码小组的演示主页</h1>

    <form  style="margin:20px;border:1px solid red" method="post">
        <label>演示项目:</label>
    <select name='project'>
        <option value='unselected' selected>未选择</option>
      <option value='cross_modal_compression'>跨模态压缩</option>
      <option value='video_super_resolution' >视频超分辨率</option>
      <option value='conceptual_compression'>概念压缩</option>
    </select></br>

        <button type="submit" id="loginBtn">GO</button>
    </form>

</body>
</html>